#guessHistory {
    margin-top: 80px;
}

body{
    margin: 0;
}
.form-control {
    margin: 10px 0;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    background: hsl(90, 90%, 27%);
    color: white;
    padding: 30px 30px 25px 30px;
    margin-top: 0;
} 

.table {
    margin-top: 80px;
}